@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="card border-primary mt-5">
            <div class="card-header bg-primary text-white">
                Welcome to Our Website!
            </div>
            <div class="card-body">
                <div class="text-center">
                    <p class="lead">
                        Hello and welcome! It's a pleasure to have you here. Whether you're seeking information, assistance, or simply a moment of positivity,
                        you've come to the right place. Feel free to explore, ask questions, and enjoy your time. We're delighted to be a part of your journey!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
