@model Car.Core.CarData.CarDataCreateUpdateViewModel



    @if (Model.Id.HasValue)
    {
        <div class="card-header">
            Update

        </div>

    }
    else
    {
        <div class="card-header">
            Create

        </div>


    }
<div class="card-body">
    <form class="login-form"  method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />


        <div class="form-input-material">
            <label asp-for="Mark" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Mark" class="form-control" />

            </div>
        </div>
                <div class="form-input-material">
            <label asp-for="Brand" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Brand" class="form-control" />

            </div>
            <div class="form-input-material">
                <label asp-for="BodyType" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="BodyType" class="form-control" />

                </div>
            </div>
        </div>

        <div class="form-input-material">
            <label asp-for="BuildingYear" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="BuildingYear" class="form-control" />

            </div>
        </div>

        <div class="form-input-material">
            <label asp-for="EngineCapacity" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="EngineCapacity" class="form-control" />

            </div>
        </div>

        <div class="form-input-material">
            <label asp-for="EnginePower" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="EnginePower" class="form-control" />

            </div>
        </div>
        <div class="form-input-material">
            <label asp-for="FuelType" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FuelType" class="form-control" />

            </div>
        </div>

        <hr />
        @if (Model.Id.HasValue)
        {
            <input asp-action="Update" style="width:10%;" asp-controller="CarData" type="submit" class="btn btn-primary" value="Update" />

        }
        else
        {
            <input asp-action="Create" style="width:10%;" asp-controller="CarData" type="submit" class=" btn btn-info" value="Create" />
        }

        <a asp-action="index" style="width:10%;" class="btn btn-primary">Back</a>
    </form>
</div>